div img {
    width: 100%;
}

div p {
    margin: 20px 10px;
    font-size: larger;
    line-height: 1.4;
}

h2 {
    margin: 0 10px;
}

.introduce.row {
    display: block;
}

.introduce.row h1 {
    display: block;
    margin-top: 80px;
    text-align: center;
}

.founder {
    color: #333;
    font-weight: bold;
    opacity: 0.9;
}

.slogan {
    background-color: rgb(49, 122, 49);
    margin: 0 auto;
    width: 80%;
}

.slogan p {
    padding: 15px;
}

.sub-aivivu p {
    margin-bottom: 0;
    margin-left: 0;
}

/* PC medium resolution > */
@media (min-width: 1024px) {

}

/* mobile */
@media (max-width: 739px) {
    .slogan {
        margin: 0 auto;
    }
}

/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) { 
    .slogan {
        margin: 0 auto;
    }
}