table {
    border: 1px solid black;
}

table tr td {
    padding: 20px;
}

h1 {
    text-align: center;
}

.target-people p {
    line-height: 1.5;
}

h3 {
    margin: 10px 0;
}

/* PC medium resolution > */
@media (min-width: 1024px) {

}

/* mobile */
@media (max-width: 740px) {
   
}

/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) { 

}
