.margintop {
    margin-top: 45px;
}

ol {
    margin-left: 15px;
    margin-top: 10px;
    line-height: 1.5;
}

.installment p {
    margin-top: 10px;
}

.installment img {
    margin-top: 10px;
    width: 100%;
    min-width: 100%;
}

/* PC medium resolution > */
@media (min-width: 1024px) {

}

/* mobile */
@media (max-width: 740px) {
    .installment .col {
        margin: 0 10px;
    }
}

/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) { 
    
}
