* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, p {
    width: 100%;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    line-height: 21px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
}

.wide {
    width: 80vw;
}



.col {
    margin-bottom: 20px;
}


h1 {
    font-family: 'Roboto',sans-serif;
    color: #111;
    font-weight: 700;
    font-size: 23px;
    line-height: 38px;
    text-transform: uppercase;
    text-align: left;

    margin-left: calc(10vw + 12px);
    margin-top: 100px;
}


.container1 {
    width: 100%;
    padding: 0 10vw 18px 10vw;
    margin-top: 100px;
}

/* tiêu dề */
.title {
    text-transform: uppercase;
    font-weight: 700;
    margin-top: -2px;
    margin-bottom: 0;
    font-size: 26px;
    line-height: 34px;
    margin: -2px 0 19px 0;
}




.container2 {
    width: 80vw;
    padding-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0 auto;
}

.container2 .content-section {

    padding: 0 14px 32px;
}

.container2 .content-section:hover a {
    color: rgb(28, 54, 217);
}

.container2 .content-section img {
    width: 100%;
}

.container2 .content-section h3 {
    width: 100%;
}

.container2 .content-section h3 a {
    color: #111111;
    text-decoration: none;
    width: 100%;
}

.container2 .content-section .content {
    width: 100%;
    font-size: 13px;
    color: #777;
    font-family: 'Open Sans', arial, sans-serif;
    margin-top: 9px;
}

.active {
    background-color: darkred !important;
    z-index: 2;
}

/* --------------------------------------------- */
