* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --mainColor: rgb(0, 163, 250);
  }

.checkedButton {
    color: var(--mainColor);
    font-style: italic;
    text-decoration: underline;
}

.active {
    background-color: var(--mainColor);
    font-weight: 600;
}

@keyframes beat {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .fa-beat {
    animation: beat 2s infinite;
  }

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url("/assets/img/plane1.jpg") ;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    color: #fff;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

#container1,#container2 {
    position: absolute;
}

#container1 {
    left: 0;
}
#container2 {
    left: 100%;
    transform: scale(0.85);
}

h1 {
    
    line-height: 20vh;
    text-align: left;
    text-transform: uppercase;
    margin-left: 10vw;
    margin-right: 10vw;
    font-weight: 450;
    font-size: 36px;
    
}

.box1, .box2 {
    width: 80vw;
    height: 70vh;
    background-color: rgba(0,0,0,0.6);
    border-radius: 3px;
    margin: 0 10vw 10vh 10vw;
    padding: 24px;
    position: relative;
}

.labelBox label  {
    margin: 0 5vw 0 0;
}

.labelBox {
    margin-bottom: 12px;
}

.box1 #table1 {
    width: 100%;
}
.box1 #table1 input,select {
    margin-bottom: 12px;
}

.box1 #table1 input[type=text] {
    width: 25vw;
    line-height: 2;
    padding-left: 5px;
    padding-right: 5px;  
}

.box1 #table1 input[type=date] {
    width: calc(100% - 12px);
    line-height: 2;
}

.box1 #table1 #travelclass {
    height: 32px;

}


.box1 #table2 {
    width: 70%;
    text-align: left;
    line-height: 1;
    
}

.box1 #table2 .note {
    font-size: 11px;
    color: rgba(256,256,256,0.8); 
}

.box1 #table2 .note:hover {
    cursor: help;
}

.box1 #table2 th{
    font-size: 20px;
    line-height: 3;
}


#table2 td {
    /* border: 1px solid red; */
    padding: 4px;
    vertical-align: top;
}

#table2 input[type=number] {
    height: 34px;
    text-align: center;
    border: none;
}

#table2 .sub,.add {
    height: 34px;
    width: 34px;
    line-height: 34px;
    background-color: var(--mainColor);
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

#table2 .sub,.add:hover {
    cursor: pointer;
}

#table2 .sub {
    transform: translate(0, -1px);
}

#table2 .add {
    transform: translate(0, -1px);
}

#nextBtn {
    text-align: center;
    color: #fff;
    width: 60px;
    font-size: 32px;
    background-color: var(--mainColor);
    border-radius: 3px;
    position: absolute;
    bottom: 10%;
    right: 10%;
}


/* container2 */




.box2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    line-height: 1.6;
    padding: 2.5rem;
}

.box2 input {
    line-height: 2;
}
.box2 [id^="info"] {
    margin-right: 28px;
    margin-bottom: 1rem;
    height: auto;
}

.box2 [id^="info"] input,
.box2 [id^="info"] select {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.box2 [id^="info"] select {
    height: 32px;
}

.box2 [id^="info"] label {
    display: inline-block;
    width: 100%;
}

.box2 #info01 {
    width: calc(40% - 28px);
}

.box2 #info02 {
    width: calc(20% - 28px);

}

#sex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

  
#sex li {
    text-align: center;
    list-style: none;
    width: 50%;
    border: 1px solid #ccc;
    cursor: pointer;
}

.box2 #info03 {
    width: calc(20% - 28px);
}

.box2 #info04 {
    width: calc(20% - 28px);
}

.box2 #info05 {
    width: calc(60% - 28px);
}

.box2 #info06 {
    width: calc(20% - 28px);
}

.box2 #info07 {
    width: calc(20% - 28px);
}

.box2 #info08 {
    width: calc(25% - 28px);
}

.box2 #info09 {
    width: calc(75% - 28px);
}


.box2 #info09 .checkbox-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
    height: auto;
}


.box2 #info09 .checkbox-container input[type="checkbox"] {
    margin-right: 5px;
    margin-top: 7px;
    width: auto;
}


.box2 #info10 {
    width: calc(100% - 28px);
}

.box2 #info10 textarea {
    width: 100%;
}



#prevBtn {
    text-align: center;
    color: #fff;
    width: 60px;
    font-size: 32px;
    background-color: var(--mainColor);
    border-radius: 3px;
    position: absolute;
    bottom: 10%;
    left: 10%;
}

#done {
    text-align: center;
    color: #fff;
    width: 60px;
    font-size: 32px;
    background-color: var(--mainColor);
    border-radius: 3px;
    position: absolute;
    bottom: 10%;
    right: 10%;
}
