* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --mainColor: rgb(0, 163, 250);
    --font-size-large: 28px;
    --font-size-medium: 16px;
    --font-size-small: 8px;
}

.checkedButton {
    color: var(--mainColor);
    font-style: italic;
    text-decoration: underline;
}

.active {
    background-color: var(--mainColor);
    font-weight: 600;
}

@keyframes beat {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .fa-beat {
    animation: beat 2s infinite;
  }

body {
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url("../img/plane1.jpg") ;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    color: #fff;

    height: 100vh;
    width: 100vw;
    max-width: 100%; 
    overflow: hidden; 
}

#container1,#container2{
    width: 100vw;
    height: 100vh;
    transition: all 0.3s;
}

#container2 {
    
    transform: translate(100%,-100%);
  }

h1 {
    line-height: 20vh;
    text-align: left;
    text-transform: uppercase;
    margin-left: 10vw;
    margin-right: 10vw;
    font-weight: 450;
    font-size: 36px;
    text-shadow: 8px 8px 4px rgba(0,0,0,0.6);
    transition: all 0.3s;
}

h1:hover {
    text-shadow: -2px 2px 1px rgba(0,0,0,0.6);

}

.box1, .box2 {
    width: 80vw;
    height: 70vh;
    background-color: rgba(0,0,0,0.6);
    border-radius: 3px;
    margin: 0 10vw 10vh 10vw;
    padding: 24px;
    position: relative;
}

input,select {
    font-size: 18px;
}

.labelBox {
    margin-bottom: 12px;
    width: 100%;
}

.labelBox label  {
    margin: 0 5vw 0 0;
}


.box1 #table1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.box1 #table1 input,select {
    margin-bottom: 12px;
}

.box1 #table1 input {
    width: 85%;
    line-height: 2;
    padding-left: 5px;
    padding-right: 5px;  
}

.box1 #table1 input[type=date] {
    width: 100%;
    line-height: 2;
}

.box1 #table1 select {
    height: 42px;
    width: 85%;
}

.box1 [id^="ticket"] {
    margin-right: var(--font-size-large);
}

.box1 #table1 .item-title {
    line-height: 2;
}

.box1 #ticket01 {
    width: calc(50% - var(--font-size-large));
}

.box1 #ticket02 {
    width: calc(50% - var(--font-size-large));

}

.box1 #ticket03 {
    width: calc(calc(100% / 3) - var(--font-size-large));
}

.box1 #ticket04 {
    width: calc(calc(100% / 3) - var(--font-size-large));
}

.box1 #ticket05 {
    width: calc(calc(100% / 3) - var(--font-size-large));
}




.box1 #table2 {
    width: 70%;
    text-align: left;
    line-height: 1;
    
}

.box1 #table2 .bodyTable {
    display: flex;
    flex-wrap: wrap;
}

.box1 #table2 .bodyTable .typeTicket {
    height: 46px;
}

.box1 #table2 .bodyTable .td {
    width: calc(100% / 3);
}

.box1 #table2 .note {
    font-size: 11px;
    color: rgba(256,256,256,0.8); 
}

.box1 #table2 .note:hover {
    cursor: help;
}

.box1 #table2 .th{
    font-size: 20px;
    line-height: 3;
}


#table2 .td {
    /* border: 1px solid red; */
    padding: 4px;
    vertical-align: top;
}

#table2 input[type=number] {
    height: 34px;
    text-align: center;
    border: none;
}

#table2 .sub,.add {
    height: 34px;
    width: 34px;
    line-height: 34px;
    background-color: var(--mainColor);
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

#table2 .sub,.add:hover {
    cursor: pointer;
}

#table2 .sub {
    transform: translate(0, -1px);
}

#table2 .add {
    transform: translate(0, -1px);
}

#nextBtn {
    text-align: center;
    color: #fff;
    width: 60px;
    font-size: 32px;
    background-color: var(--mainColor);
    border-radius: 3px;
    position: absolute;
    bottom: 10%;
    right: 10%;
}


/* container2 */




.box2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    line-height: 1.6;
    padding: 2.5rem;
}

.box2 input {
    line-height: 2;
}
.box2 [id^="info"] {
    margin-right: var(--font-size-large);
}

.box2 [id^="info"] input,
.box2 [id^="info"] select {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.box2 [id^="info"] select {
    height: 40px;
}

.box2 [id^="info"] label {
    display: inline-block;
    width: 100%;
}

.box2 #info01 {
    width: calc(40% - var(--font-size-large));
}

.box2 #info02 {
    width: calc(20% - var(--font-size-large));

}

#sex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

  
#sex li {
    text-align: center;
    list-style: none;
    width: 50%;
    border: 1px solid #ccc;
    cursor: pointer;
}

.box2 #info03 {
    width: calc(20% - var(--font-size-large));
}

.box2 #info04 {
    width: calc(20% - var(--font-size-large));
}

.box2 #info05 {
    width: calc(60% - var(--font-size-large));
}

.box2 #info06 {
    width: calc(20% - var(--font-size-large));
}

.box2 #info07 {
    width: calc(20% - var(--font-size-large));
}

.box2 #info08 {
    width: calc(25% - var(--font-size-large));
}

.box2 #info09 {
    width: calc(75% - var(--font-size-large));
}


.box2 #info09 .checkbox-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
    height: auto;
}


.box2 #info09 .checkbox-container input[type="checkbox"] {
    margin-right: 5px;
    margin-top: 7px;
    width: auto;
}


.box2 #info10 {
    width: calc(100% - var(--font-size-large));
}

.box2 #info10 textarea {
    width: 100%;
}



#prevBtn {
    text-align: center;
    color: #fff;
    width: 60px;
    font-size: 32px;
    background-color: var(--mainColor);
    border-radius: 3px;
    position: absolute;
    bottom: 10%;
    left: 10%;
}

#done {
    text-align: center;
    color: #fff;
    width: 60px;
    font-size: 32px;
    background-color: var(--mainColor);
    border-radius: 3px;
    position: absolute;
    bottom: 10%;
    right: 10%;
}


/* Tablet - PC low resolution */
@media (min-width: 810px) and (max-width: 1023px) {

    .box1, .box2 {
        width: 90vw;
        height: 70vh;
        background-color: rgba(0,0,0,0.6);
        border-radius: 3px;
        margin: 0 5vw 5vh 5vw;
        padding: 1.5rem;
        line-height: 1;
    }



    .box1 [id^="ticket"] {
        margin-right: var(--font-size-medium);
        margin-bottom: 1rem;
        height: auto;
    }
    
    .box1 #table1 .item-title {
        line-height: 2;
    }
    
    .box1 #ticket01 {
        width: calc(50% - var(--font-size-medium));
    }
    
    .box1 #ticket02 {
        width: calc(50% - var(--font-size-medium));
    
    }
    
    .box1 #ticket03 {
        width: calc(30% - var(--font-size-medium));
    }
    
    .box1 #ticket04 {
        width: calc(30% - var(--font-size-medium));
    }
    
    .box1 #ticket05 {
        width: calc(40% - var(--font-size-medium));
    }



    .box2 [id^="info"] {
        margin-right: var(--font-size-medium);
    }

    .box2 #info01 {
        width: calc(40% - var(--font-size-medium));
    }
    
    .box2 #info02 {
        width: calc(20% - var(--font-size-medium));
    
    }
    
    .box2 #info03 {
        width: calc(20% - var(--font-size-medium));
    }
    
    .box2 #info04 {
        width: calc(20% - var(--font-size-medium));
    }
    
    .box2 #info05 {
        width: calc(60% - var(--font-size-medium));
    }
    
    .box2 #info06 {
        width: calc(20% - var(--font-size-medium));
    }
    
    .box2 #info07 {
        width: calc(20% - var(--font-size-medium));
    }
    
    .box2 #info08 {
        width: calc(25% - var(--font-size-medium));
    }
    
    .box2 #info09 {
        width: calc(75% - var(--font-size-medium));
    }
}


/* Mobie */
@media (max-width: 809px) {
    h1 {
        line-height: 5vh;
        text-align: left;
        text-transform: uppercase;
        margin-left: 10vw;
        margin-right: 10vw;
        font-weight: 450;
        font-size: 20px;
    }
    .box1, .box2 {
        width: 96vw;
        height: 95vh;
        background-color: rgba(0,0,0,0.6);
        border-radius: 3px;
        margin: 0 2vw 2vh 2vw;
        padding: 1rem;
        line-height: 1.6;
    }

    .labelBox label {
        margin: 0 5px 0 0;
    }


    .box1 #table1 input {
        width: 100%;
        margin: 0;
    }

    .box1 #table1 select {
        height: 32px;
        width: 100%;
    }

    .box1 #table1 #ticket05 select {
        width: 50%;
    }

    .box1 [id^="ticket"] {
        margin-right: var(--font-size-small);
        margin-right: 4px;
        margin-bottom: 4px;
        height: auto;
    }


    
    .box1 #table1 .item-title {
        line-height: 1.4;
    }
    
    .box1 #ticket01 {
        width: calc(100% - var(--font-size-small));
    }
    
    .box1 #ticket02 {
        width: calc(100% - var(--font-size-small));
    
    }
    
    .box1 #ticket03 {
        width: calc(50% - var(--font-size-small));
    }
    
    .box1 #ticket04 {
        width: calc(50% - var(--font-size-small));
    }
    
    .box1 #ticket05 {
        width: calc(100% - var(--font-size-small));
    }



    .box1 #table2 {
        width: 100%;
        text-align: left;
        line-height: 1;
    }
    .note {
        display: none;
    }

    .box1 #table2 .th {
        font-size: 20px;
        line-height: 1.4;
        font-weight: 500;
    }

    #table2 .sub, .add {
        height: 20px;
        width: 20px;
        line-height: 20px;
        background-color: var(--mainColor);
        display: inline-block;
        vertical-align: middle;
        text-align: center;
    }
    #table2 input[type=number] {
        height: 20px;
        width: 24px;
        text-align: center;
        border: none;
    }
      
    .checkbox-container {
        font-size: 12px;
    }

    .box2 [id^="info"] {
        margin-right: var(--font-size-small);
    }
    
    .box2 #info01 {
        width: calc(100% - var(--font-size-small));
    }
    
    .box2 #info02 {
        width: calc(35% - var(--font-size-small));
    
    }
    
    .box2 #info03 {
        width: calc(30% - var(--font-size-small));
    }
    
    .box2 #info04 {
        width: calc(35% - var(--font-size-small));
    }
    
    .box2 #info05 {
        width: calc(100% - var(--font-size-small));
    }
    
    .box2 #info06 {
        width: calc(40% - var(--font-size-small));
    }
    
    .box2 #info07 {
        width: calc(60% - var(--font-size-small));
    }
    
    .box2 #info08 {
        width: calc(60% - var(--font-size-small));
    }
    
    .box2 #info09 {
        width: calc(100% - var(--font-size-small));
    }

    #nextBtn, #done{
        width: 36px;
        font-size: 20px;
        bottom: 5%;
        right: 5%;
    }
    #prevBtn{
        width: 36px;
        font-size: 20px;
        bottom: 5%;
        left: 5%;
    }
    
}