* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grid {
    width: 100%;
    display: block;
    padding: 0;
}

.grid.wide {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.col {
    padding-left: 12px;
    padding-right: 12px;
}

.l-3 {
    flex: 0 0 25%; /*flex-grow flex-shrink flex-basis (25% chiều rộng của phần tử cha)*/
    max-width: 25%;
}

.l-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.l-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.flexbox {
    display: flex;
    list-style-type: none;
}

.margintop {
    margin-top: 80px;
}

.marginbottom {
    margin-bottom: 60px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    text-align: justify;
}

#header {
    background-color: rgb(20, 20, 167);
    width: 100%;
    height: 60px;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    white-space: nowrap; /*ngăn chữ bị xuống dòng khi phóng to*/
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);

}

.header-logo {
    padding-right: 25px;
    padding-left: 15px;
}

.nav a:hover {
    opacity: 0.6;
}

.header-number a:hover {
    color: yellow;
}

.nav a,
.header-number a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    padding: 25px 15px 18px 15px;
}

.header-number a {
    padding: 15px 15px 13px 15px;
    margin-left: 2px;
    background-color: red;
    border-radius: 60%;
}

.aivivu {
    justify-content: space-around;
}

#content .sub-aivivu a:hover {
    text-decoration: underline;
}

.sub-aivivu p {
    text-align: left;
    font-weight: bold;
    padding: 5px 0;
    font-size: large;
}

#content .sub-aivivu a {
    text-align: left;
    display: block;
    padding: 5px 0;
    color: #333;
    opacity: 0.8;
    font-size: small;
}

.app img {
    width: 100%;
}

.app img:hover {
    transform: scale(1.1); 
}

.app .Qr-code:hover {
    transform: none;
}

.Qr-code {
    margin-right: 30px;
}

#footer {
    text-align: center;
    background-color: rgb(172, 177, 248);
}

#footer p {
    font-size: medium;
    margin: 0;
    padding: 10px 0;
}

.email {
    color: #101aef;
    text-decoration: none;
}

.email:hover {
    color: rgb(16, 16, 126);
    text-decoration: underline;
}

#footer .socials-list {
    font-size: 24px;
    margin-top: 10px;
}

#footer .socials-list a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

#footer .socials-list a:hover {
    color: rgba(0, 0, 0, 0.4);
}

.copyright {
    font-weight: bold;
    margin-top: 10px;
}

.nav-bar {
    margin-bottom: 17px;
    width: 28px;
    height: 28px;
    font-size: 2rem;
    color: #fff;
    display: none;
    cursor: pointer;
}

.nav-bar:hover,
.nav-close:hover {
    opacity: 0.6;
}

.nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    animation: fadeIn linear 0.5s;
}

.nav-mobile {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: #fff;
    transform: translateX(-100%);
    transition: transform linear 0.2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.nav-list {
    margin-left: 20px;
    margin-top: 60px;
    list-style-type: none;
    text-align: left;
}

.nav-mobile-link {
    text-decoration: none;
    display: block;
    color: black;
    padding: 8px 0;
    font-size: 1.4rem;
    font-weight: bold;
}

.nav-mobile-link:hover {
    color: yellow;
    text-decoration: underline;
}

.nav-close {
    width: 28px;
    height: 28px;
    font-size: 1.5rem;
    color: black;
    position: absolute;
    top: 0.7rem;
    right: 1rem;
    cursor: pointer;
}

.active {
    background-color: darkred !important;
    z-index: 2;
}

#backTop {
    position: fixed;
    font-size: 30px;
    bottom: 2%;
    right: 2%;
    z-index: 3;
    cursor: pointer;
}

#chatbox {
    color: rgb(28, 28, 173);
    position: fixed;
    font-size: 60px;
    bottom: 10%;
    right: 1%;
    z-index: 3;
    display: flex;
    align-items: center;
}

#chatbox-text {
    display: none;
    color: orange;
    font-weight: bold;
    margin-right: 10px;
    font-size: 30px;
    animation: jump 1s infinite;
}

.fa-brands.fa-facebook-messenger:hover {
    opacity: 0.9;
}

.chatbox-a:visited {
    color: rgb(28, 28, 173);
}

#chatbox:hover #chatbox-text {
    display: block;
}

@keyframes jump {
    0%, 100% {
        transform: translateY(0);
    }
    20%, 80% {
        transform: translateY(-20px);
    }
    40%, 60% {
        transform: translateY(-10px);
    }
}

/* PC medium resolution > */
@media (min-width: 1024px) {

}

/* mobile */
@media (max-width: 739px) {
    .row {
        margin-left: 4px;
        margin-right: 4px;
    }
    
    .col {
        padding-left: 4px;
        padding-right: 4px;
    }

    .c-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .c-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    #header {
        justify-content: space-around;
    }
    #content {
        #content {
            text-align: justify;
        }
    }
    .nav {
        display: none;
    }
    
    .nav-bar {
        display: block;
        margin-top: 10px;
    }

    .download {
        margin-top: 60px;
    }

    #chatbox {
        font-size: 50px;
    }
}

/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) { 
    .wide {
        width: 644px;
    }

    .row {
        margin-left: 8px;
        margin-right: 8px;
    }

    .col {
        padding-left: 8px;
        padding-right: 8px;
    }

    .m-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .m-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .m-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    #header {
        justify-content: space-around;
    }

    #content {
        text-align: justify;
    }

    .nav {
        display: none;
    }

    .nav-bar {
        display: block;
        margin-top: 10px;
    }

    .download {
        margin-top: 60px;
    }
}

/* > PC low resolution*/
/* khi kéo về khoảng min max này sẽ bị khoảng trắng, nên cần chỉnh lại width */
@media (min-width: 1024px) and (max-width: 1239px) {
    .wide {
        width: 980px;
    }

    .wide .row {
        margin-left: -12px;
        margin-right: -12px;
    }
}