h1 {
    text-align: center;
}

h3 {
    margin-bottom: 10px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.fa-solid.fa-arrows-up-down {
    opacity: 0.8;
}

.main div {
    border-bottom: 1px solid rgb(156, 83, 83);
}

.main p {
    display: none;
    padding-bottom: 10px;
}

/* PC medium resolution > */
@media (min-width: 1024px) {

}

/* mobile */
@media (max-width: 740px) {
    h3 {
        display: inline-block;
    }
}

/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) { 
    h3 {
        display: inline-block;
    }
}