* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grid {
    width: 100%;
    display: block;
    padding: 0;
}

.grid.wide {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.col {
    padding-left: 12px;
    padding-right: 12px;
}

.flexbox {
    display: flex;
    list-style-type: none;
}

.margintop {
    margin-top: 100px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    text-align: justify;
}

#header {
    background-color: rgb(20, 20, 167);
    width: 100%;
    height: 54px;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    white-space: nowrap; /*ngăn chữ bị xuống dòng khi phóng to*/
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);

}

.header-logo {
    padding-right: 25px;
    padding-left: 15px;
}

.nav a:hover {
    opacity: 0.6;
}

.header-number a:hover {
    color: yellow;
}

.nav a,
.header-number a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    padding: 25px 15px 18px 15px;
}

.header-number a {
    padding: 16px 15px 13px 15px;
    background-color: red;
    border-radius: 60%;
}

.nav-bar {
    margin-bottom: 17px;
    width: 28px;
    height: 28px;
    font-size: 2rem;
    color: #fff;
    display: none;
    cursor: pointer;
}

.nav-bar:hover,
.nav-close:hover {
    opacity: 0.6;
}

.nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    animation: fadeIn linear 0.5s;
}

.nav-mobile {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: #fff;
    transform: translateX(-100%);
    transition: transform linear 0.2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.nav-list {
    margin-left: 20px;
    margin-top: 60px;
    list-style-type: none;
    text-align: left;
}

.nav-mobile-link {
    text-decoration: none;
    display: block;
    color: black;
    padding: 8px 0;
    font-size: 1.4rem;
    font-weight: bold;
}

.nav-mobile-link:hover {
    color: yellow;
    text-decoration: underline;
}

.nav-close {
    width: 28px;
    height: 28px;
    font-size: 1.5rem;
    color: black;
    position: absolute;
    top: 0.7rem;
    right: 1rem;
    cursor: pointer;
}

.request-box {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

h1, h2 {
    color: purple;
}

h1 {
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 10px;
}

#kq {
    margin-top: 10px
}

#booking-code {
    width: 50%;
}

.send {
    margin-left: auto;
    margin-top: 10px;
    background-color: rgb(161, 161, 22);
    padding: 5px 10px;
    color: #fff;
    cursor: pointer;
}

.box {
    margin: 0 auto;
    width: 50%;
    border: 1px solid rgb(57, 149, 192);
    padding: 20px;
}

@keyframes err {
    from {
        outline: unset;
    }
    to {
        outline: 1px solid red;
    }
    }

    .error {
        animation: err .5s 3;
    }

/* PC medium resolution > */
@media (min-width: 1024px) {

}

/* mobile */
@media (max-width: 740px) {
    .row {
        margin-left: 4px;
        margin-right: 4px;
    }
    
    .col {
        padding-left: 4px;
        padding-right: 4px;
    }

    #header {
        justify-content: space-around;
    }
    #content {
        #content {
            text-align: justify;
        }
    }
    .nav {
        display: none;
    }
    
    .nav-bar {
        display: block;
        margin-top: 10px;
    }

    .send {
        margin-left: 0;
    }
}

/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) { 
    .wide {
        width: 644px;
    }

    .row {
        margin-left: 8px;
        margin-right: 8px;
    }

    .col {
        padding-left: 8px;
        padding-right: 8px;
    }

    #header {
        justify-content: space-around;
    }

    #content {
        text-align: justify;
    }

    .nav {
        display: none;
    }

    .nav-bar {
        display: block;
        margin-top: 10px;
    }
}

/* > PC low resolution*/
/* khi kéo về khoảng min max này sẽ bị khoảng trắng, nên cần chỉnh lại width */
@media (min-width: 1024px) and (max-width: 1239px) {
    .wide {
        width: 980px;
    }

    .wide .row {
        margin-left: -12px;
        margin-right: -12px;
    }
}