.request-box {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

h1, h2 {
    color: purple;
}

h1 {
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 10px;
}

#kq {
    margin-top: 10px
}

#booking-code {
    width: 50%;
}

.send {
    margin-left: auto;
    margin-top: 10px;
    background-color: rgb(161, 161, 22);
    padding: 5px 10px;
    color: #fff;
    cursor: pointer;
}

.box {
    margin: 0 auto;
    width: 50%;
    border: 1px solid rgb(57, 149, 192);
    padding: 20px;
}

@keyframes err {
    from {
        outline: unset;
    }
    to {
        outline: 1px solid red;
    }
    }

    .error {
        animation: err .5s 3;
    }

/* PC medium resolution > */
@media (min-width: 1024px) {

}

/* mobile */
@media (max-width: 740px) {
    .send {
        margin-left: 0;
    }
}

/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) { 
    
}
