* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Hieu ung */
.image, i {
      transition: transform 0.3s;
    }

.scaleImg {
    transform: scale(1.1);
}



.iconAni {
    transform: scaleX(-1);
  }

/* --------------------------------------------- */
h1 {
    font-size: 23px;
    line-height: 38px;
    text-transform: uppercase;
    text-align: left;

    padding-bottom: 18px;
    margin-left: calc(10vw + 12px);
    margin-top: 100px;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
}

.wide {
    width: 80vw;
}



.col {
    margin-bottom: 20px;
}

.col img {
    width: 100%;
    border-radius: 3% 3% 0 0;
}

.imgBox {
    height: auto;
    position: relative;
    overflow: hidden;
}

.goodPrice {
    position: absolute;
    bottom: 4px;
    left: 0;
    padding: 0 15px 0 15px;
    font-size: 13px;
    color: #fff;
    font-weight: 600;
    line-height: 30px;
    background-color: #00BCD4;
}

.goodPrice::after {
    left: calc(100% - 15px);
    top: 50%;
    border: solid #00BCD4;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;

    border-color: #00BCD4;
    border-right-color: transparent;
    border-width: 15px;
    margin-top: -15px;
}


.col  h3 a {
    color: #111;
    text-decoration: none;
    font-weight: 400;
    line-height: 25px;
}

.col:hover a {
    color: rgb(28, 54, 217);
}

.col i {
    color: rgb(0, 79, 148);
    font-size: 18px;
    padding: 0 5px 0 10px;
}

.col .fp {
    font-size: 15px;
    line-height: 26px;
    color: #898989;
}

.col .lp {
    font-size: 15px;
    line-height: 26px;
    color: #333;
    font-weight: 400;
}

.active {
    background-color: darkred !important;
    z-index: 2;
}


/* >= Tablet */
@media (min-width: 740px) {
    .grid {
        margin-left: -8px;
        margin-right: -8px;
    }
}


/* PC medium resolution > */
@media (min-width: 1113px) {
    .grid {
        margin-left: -12px;
        margin-right: -12px;
    }
}